{% extends "base.html" %}
{% load tools %}
{% block title %} Index {% endblock %} 

{% block right_header %}
{% endblock %}

{% block content %}

<div class="ui centered grid">
<div class="six wide column">
  <p class="text grey">
  <span class="blue text">CMD</span><span class="grey text">Analysis</span> 是一个终端历史命令可视化工具. 目前支持对bash, zsh 命令历史文件进行分析. 注重安全, 分析后即删除.使用下面命令来可视化历史文件, 每次调用都会生成一个url, 通过url可以访问可视化详细页面.
  </p>
</div>
<div class="sixteen wide column">
  <div class="ui fluid centered grid" style="background-color: #eeeeee;">
    <div class="six wide column">
      <i class="github icon"></i>
      <a href="https://github.com/jackeyGao/CMDAnalysis">Star on Github</a>
    </div>
  </div>
</div>
<div class="six wide column" style="font-family: Courier New;">
  <h4 class="ui grey header">zsh</h4>
  <pre class="prettyprint">curl -F "file=@$HOME/.zsh_history" \
    http://127.0.0.1:8000/api/history/</pre>
  <h4 class="ui grey header">bash</h4>
  <pre class="prettyprint">curl -F "file=@$HOME/.bash_history" \
    http://127.0.0.1:8000/api/history/</pre>
</div>

</div>

{% endblock %}
